boto
boto3
requests
wheel
#spacy
#spacy-legacy
#spacy-loggers
#spacy_streamlit
spacy>=3.4.0,<3.5.0
https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.4.0/ru_core_news_lg-3.4.0-py3-none-any.whl
natasha
firebase_admin
matplotlib
pandas
#pathlib
#beautifulsoup4
