boto
boto3
requests
wheel
#spacy
#spacy-legacy
#spacy-loggers
spacy_streamlit
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-1.0.4/ru_core_news_lg-1.0.4-py3-none-any.whl